#toolbar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 168px;
  transition: transform ease-in-out 0.15s;
}

#toolbar.enabled {
  transform: translate(-50%, 0);
}

#toolbar > .tools {
  display: flex;
}

#toolbar > .tools > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  border: 0;
  background: #000;
  color: #fff;
  font-family: inherit;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

#toolbar > .tools > button.enabled {
  cursor: default;
}

#toolbar > .tools > button:first-child {
  border-radius: 0.5rem 0 0 0;
}

#toolbar > .tools > button:last-child {
  border-radius: 0 0.5rem 0 0;
}

#toolbar > .tools > button > .bar {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

#toolbar > .tools > button.enabled > .bar  {
  background: #fff;
}

#toolbar > .tools > button > input[type="color"] {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
}

#toolbar > .sliders {
  background: #000;
  display: flex;
  padding-top: 0.25rem;
}

#toolbar > .sliders > input[type="range"] {
  cursor: pointer;
  width: 50%;
}
